@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* 
.slick-arrow{
  border: 1px #17c071 solid !important;
} */

.slick-slider{
  /* border: 1px #17c071 solid !important; */
  height: 450px;
}

.slick-list{
  margin-top: -55px !important;
}


