@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-gradient{
    @apply bg-gradient-to-tr from-[#2600FC] to-[#FF00EA] bg-clip-text text-transparent;
  }
}

.slick-slider{
  height: 450px;
}

.slick-list{
  margin-top: -55px !important;
}
